.git/
.github/
.venv/
.vscode/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
.env
.env.example
tests/
*.md
LICENSE
.dockerignore
.gitignore
.markdownlint*
.markdownlintignore
.pre-commit-config.yaml
.python-version
.actrc
.act/
.act-secrets
.act-variables
