TABLO_IP=
DEVICE_NAME=
AUTODISCOVER_TABLO=true
HOST=127.0.0.1
PORT=5004
# Logging level: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
# Environment: production, development
ENVIRONMENT=production
TZ=America/Los_Angeles
ENABLE_EPG=true
CHANNEL_REFRESH_INTERVAL=86400
GUIDE_REFRESH_INTERVAL=3600
CHECK_FOR_UPDATES=true
