TABLO_IP=
DEVICE_NAME=
AUTODISCOVER_TABLO=true
HOST=127.0.0.1
PORT=5004
# Logging level: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
# Environment: production, development
ENVIRONMENT=production
ENABLE_EPG=true
CACHE_TTL=900
