# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/
coverage.xml

# Flask
instance/

# Environments
.env
.envrc
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/

# Visual Studio Code
.vscode/*
!.vscode/extensions.json

# PyPI configuration file
.pypirc

# asdf
.tool-versions

# act
.act-secrets
.act-variables

# NPM/Yarn
node_modules/
tablo_legacy_m3u/static/dist/
.stylelintcache
